{% extends "catalogue/base.html" %}
{% block content %}

<h1>About us</h1>
<p>We are a company which specialises in making protective and stylish clothes. </p>
<p>Our goal is for you to be protected at all times without feeling any different than if you weren't.</p>
<h3>The Founders</h3>
<p>Abed Salura</p>
<p>Antoan Damov</p>
<p>Alexandra Stavreva</p>
<p>Vasil Vasliev</p>
<br>
<br>
<br>
<br>
<footer>
    <h4>For contact:</h4>
    <p>Call +359 89 494 1234 or email at stivans-support@gmail.com</p>
</footer>

<style>
    p {
        margin: 10px 50px;

    }

    h1, h3, h4 {
        margin: 20px
    }
</style>
{% endblock content %}