{% extends "catalogue/base.html" %}
{% block content %}
<header class="py-5" style="background-color: black;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Protect yourself in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With our modest bulletproof vests</p>
            <a style="text-decoration: none; color: white;font-size: 56px;border: 1px; border: 10px;" href="{% url 'products' %}">Browse items</a>
        </div>
    </div>
</header>
{% endblock content %}