{% extends "catalogue/base.html" %}
{% block content %}
<style>
    .button {
        border-radius: 5px;
        color: black;
        background-color: white;
        margin: 3px;

    }
</style>


<div class="cart-container" style="min-height: 80vh; margin: 10px 100px;">
    {% for item in all %}
        <div class="cart-item" style="margin:20px; border: 5px 5px; border-color: black; border-style: solid; padding: 10px;">
        <span class="item-name">{{item.item}}</span>
        <form action="{% url 'cart-functions' pk=item.id %}" method="POST" style="float:right;">
            {% csrf_token %}
            
            <button type="submit" class="button">+1</button>
        </form>
        <form id="deleteForm" style="float: right;">
            {% csrf_token %}
            
            <button type="submit" class="button">-1</button>
        </form>
        <span class="item-count">{{item.count}}</span>
        <div class="clear-fix"></div>
        </div>
    {% endfor %}
  </div>
{% endblock content %}